#java ignore
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Macosx ignore
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Windows ignore
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

#Linux ignore
*~

#specific this repo
*.log

target/
.settings/
.springBeans
.project
.classpath
nb-configuration.xml
*.iml

